/* Google Font Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* <----------Utility----------> */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* container */


/* Settings */
:root{
    --topColor: #3A3A3A;
    --footerBg:#0A0826;
}

/* Head-nav-brand-section */



/* Super-Section */

.super-section{
    display: flex;
    padding: 50px 120px;
    align-items: center;
}
.super-right h1{
    font-size: 52px;
    color: var(--topColor);

}
.super-right p{
    color: var(--topColor);
    font-size: 16px;
    font-weight: 600;
}
.super-left img{
    width: 100%;
    object-fit: cover;
}

.btn{
    padding: 10px 24px;
    border: none;
    background-color: #E02C6D;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
}

.btn-super{
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.btn-super .fa-arrow-right{
    padding-left: 15px;
}











/* Footer */
footer{
    background-color: var(--footerBg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-words{
    color: #FFFFFF;
    font-size: 24px;
    text-align: center;
}
.footer-words p{
    font-size: 14px;
    font-weight: 600;
    color: #D9DBE1;
}
.footer-icon{
    display: flex;
    padding: 50px 0px;
}
.footer-social{
    width: 50px;
}
.social-icon{
    font-size: 30px;
    margin-left: 16px;
    color: #FFFFFF;
}






/* Mobile Devices */

@media only screen and (max-width:688px) {

    .navbar{
        width: 100%;
        justify-content: center;
    }
}